#p1 {
	background-color: skyblue 
}

#p2 {
	background-color: darkcyan;
}

#inline-elements p {
	display: inline;
}

#inline-p1 {
	background-color: salmon;
}

#inline-p2 {
	background-color: khaki
}

#inline-block-elements li {
	background-color: rgb(42, 190, 190);
	display: inline-block;
	height: 30px;
	width: 100px;
	margin: 5px;
	font-weight: bold;
	color: white;

}

#display-none {
	display: none;
}